@using SedekahKita.Web.Models
@using SedekahKita.Web.Data
@inject IJSRuntime jsRuntime
@namespace SedekahKita.Web.Pages.Master
@using SedekahKita.Web.Helpers
@using System.IO
@inject IToastService toastService


<div class="modal" tabindex="-1" role="dialog" id="taskModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@CustomHeader</h5>


                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="@TaskObject" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="form-group">
                        <label for="nama">Nama</label>
                        <input type="hidden" @bind-value="@TaskObject.Id" />
                        <InputText id="nama" class="form-control" @bind-Value="@TaskObject.FullName" />
                        <ValidationMessage For="@(() => TaskObject.FullName)" />
                    </div>
                    <div class="form-group">
                        <label for="alamat">Alamat</label>
                        <InputTextArea id="alamat" class="form-control" @bind-Value="@TaskObject.Alamat" />
                        <ValidationMessage For="@(() => TaskObject.Alamat)" />
                    </div>
                    <div class="form-group">
                        <label for="phone">No HP</label>
                        <InputText id="phone" class="form-control" @bind-Value="@TaskObject.Phone" />
                        <ValidationMessage For="@(() => TaskObject.Phone)" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <InputText id="email" class="form-control" @bind-Value="@TaskObject.Email" />
                        <ValidationMessage For="@(() => TaskObject.Email)" />
                    </div>
                    <div class="form-group">
                        <label for="sim">SIM</label>
                        <InputText id="sim" class="form-control" @bind-Value="@TaskObject.SIM" />
                        <ValidationMessage For="@(() => TaskObject.SIM)" />
                    </div>
                    <div class="form-group">
                        <label for="ktp">KTP</label>
                        <InputText id="ktp" class="form-control" @bind-Value="@TaskObject.KTP" />
                        <ValidationMessage For="@(() => TaskObject.KTP)" />
                    </div>
                    <div class="checkbox">
                        <label><input @bind="@TaskObject.IsReceiveNotification" type="checkbox">Terima Notifikasi</label>
                    </div>
                    <div class="form-group">
                        <label for="nim">Upload Foto</label>
                        @if (!string.IsNullOrEmpty(FileUrl))
                        {
                            <img src="@FileUrl" alt="produk" width="250" />
                        }
                        <InputFile OnChange="HandleFileSelected" />
                        <div class="alert alert-warning">pilih gambar dan tunggu sampai gambar muncul</div>
                    </div>


                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </EditForm>

            </div>
        </div>
    </div>
</div>

@code {
    public string FileUrl { get; set; }
    [Parameter]
    public RenderFragment CustomHeader { get; set; }
    [Parameter]
    public Driver TaskObject { get; set; }
    [Parameter]
    public Action DataChanged { get; set; }
    SedekahKita.Web.Data.DriverService service;
    protected override async Task OnInitializedAsync()
    {
        if (service == null) service = new DriverService();
    }
    private async void HandleValidSubmit()
    {

        if (!string.IsNullOrEmpty(FileUrl))
            TaskObject.PicUrl = FileUrl;
        if (TaskObject.Id == 0)
        {
            //TaskObject.Id = service.GetLastId();
            if (!service.IsDriverExists(TaskObject.Username))
            {
                service.InsertData(TaskObject);
            }
            else
            {
                toastService.ShowError("Anda sudah mendaftar jadi driver sebelumnya", "Info");
            }
        }
        else
        {
            service.UpdateData(TaskObject);
        }

        await CloseTaskModal();
        DataChanged?.Invoke();
    }

    async Task HandleFileSelected(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();
        if (file != null)
        {
            // Just load into .NET memory to show it can be done
            // Alternatively it could be saved to disk, or parsed in memory, or similar

            var ms = new MemoryStream();
            await file.Data.CopyToAsync(ms);
            var bytes = ImageHelper.FixedSize(ms, 300, 300, false);
            string newName = $"photo_{DateTime.Now.ToString("dd_MM_yyyy")}_{TaskObject.Id}{Path.GetExtension(file.Name)}";
            await AzureBlobHelper.UploadFile(newName, bytes);
            FileUrl = $"https://storagemurahaje.blob.core.windows.net/toko-online/{newName}";
        }
    }

    private async Task CloseTaskModal()
    {
        await jsRuntime.InvokeAsync<object>("CloseModal", "taskModal");
    }


}