@page "/master/driver"

@inject IJSRuntime jsRuntime
@using SedekahKita.Web.Models
@using SedekahKita.Web.Data
@inject NavigationManager NavMgr
@using SedekahKita.Web.Pages.Common
@namespace SedekahKita.Web.Pages.Master
<h1>Daftar Driver</h1>

<p>Gunakan halaman ini untuk mendaftarkan diri menjadi driver delivery barang.</p>

@if (DataDriver == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <body onbeforeunload="TestDataTablesRemove('#gridData')">
        <table id="gridData" name="gridData" class="table">
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Alamat</th>
                    <th>SIM</th>
                    <th>KTP</th>
                    <th>Aktif</th>
                    <th>Foto</th>
                    <th>Actions</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in DataDriver)
                {
                    <tr>
                        <td>@item.FullName</td>
                        <td>@item.Phone</td>
                        <td>@item.Email</td>
                        <td>@item.Alamat</td>
                        <td>@item.SIM</td>
                        <td>@item.KTP</td>
                        <td>@(item.Aktif ? "Aktif" : "Tidak Aktif")</td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.PicUrl))
                            {
                                <img src="@item.PicUrl" width="100" />
                            }
                        </td>
                        <td>
                            @if (item.Username == UserName)
                            {
                                <input type="button" class="btn btn-primary" @onclick="(() => PrepareForEdit(item))" data-toggle="modal" data-target="#taskModal" value="Ubah" />
                                <input type="button" class="btn btn-danger" @onclick="(() => PrepareForDelete(item))" data-toggle="modal" data-target="#confirmDeleteModal" value="Hapus" />

                            }
                            else
                            {
                                <p>-</p>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
}

<div>
    <input type="button" data-toggle="modal" data-target="#taskModal" class="btn btn-primary" value="Daftar Jadi Driver" @onclick="(() => InitializeitemObject())" />
</div>
<ConfirmDialog OnClick="@Delete" />
<DriverDetail TaskObject=@itemObject DataChanged="@DataChanged">
    <CustomHeader>@customHeader</CustomHeader>
</DriverDetail>

@code {

    SedekahKita.Web.Data.DriverService service;
    string customHeader = string.Empty;
    List<Driver> DataDriver;
    Driver itemObject = new Driver();
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string UserName;

    protected override async Task OnInitializedAsync()
    {
        if (service == null) service = new DriverService();

        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            UserName = user.Identity.Name;
            // Perform an action only available to authenticated (signed-in) users.
            DataDriver = service.GetAllData();
        }


    }


    private void InitializeitemObject()
    {
        UserProfileService svc = new UserProfileService();
        itemObject = new Driver();

        var selItem = svc.GetItemByEmail(UserName);
        if (selItem != null)
        {
            itemObject.Alamat = selItem.Alamat;
            itemObject.Aktif = true;
            itemObject.FullName = selItem.FullName;
            itemObject.Username = UserName;
            itemObject.Email = UserName;
            itemObject.Phone = selItem.Phone;
            itemObject.IsReceiveNotification=true;
        }

        //itemObject.Id = -1;

        customHeader = "Daftar Driver";
    }
    private async void DataChanged()
    {
        DataDriver = service.GetAllData();
        StateHasChanged();
    }

    private void PrepareForEdit(Driver item)
    {
        customHeader = "Ubah Profil Driver";
        itemObject = item;
    }
    private void PrepareForDelete(Driver item)
    {
        itemObject = item;
    }
    private async Task Delete()
    {
        var task = service.DeleteData(itemObject.Id);
        await jsRuntime.InvokeAsync<object>("CloseModal", "confirmDeleteModal");
        DataDriver = service.GetAllData();
        itemObject = new Driver() { Id = -1 };
    }
    protected override async System.Threading.Tasks.Task OnAfterRenderAsync(bool firstRender)
    {
       
        if (DataDriver != null && DataDriver.Count > 0)
        {
           
            await jsRuntime.InvokeAsync<object>("TestDataTablesAdd", "#gridData");
        }
    }
    private async System.Threading.Tasks.Task applyPager(string TableName)
    {
        await jsRuntime.InvokeAsync<object>("applyPager", TableName);
    }
}
